* {
  font-family: 'Roboto', sans-serif;
  text-transform: capitalize;
  text-decoration: none;
  outline: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root
{
  --green:#008000;
}

*::selection
{
  background: var(--green);
  color: #fff;
}

html
{
font-size: 62.5%;
overflow-x: hidden;
}


body
{
    background: #333;
}

header
{
    width: 96%;
    background: #fff;
    position: fixed;
    top: 2rem; left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
}

header .navbar ul
{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

header .navbar ul li
{
    margin: 0 1rem;
}

header .navbar ul li a
{
   font-size: 2rem;
   color: var(--green);
}